@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Userlayout.cshtml";
}

@using EntityLayer.Concrete
@model List<Blog>

<!--/main-->
<section class="main-content-w3layouts-agileits">
    <div class="container">
        @* <h3 class="tittle">Blogs</h3> *@
        <div class="inner-sec">
            <!--left-->
            <div class="left-blog-info-w3layouts-agileits text-left">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <a asp-action="Detail" asp-controller="Blog" asp-route-id="@item.Id">
                            <div class="col-lg-4 card my-4">
                                <img src="@item.BlogImage" class="card-img-top img-fluid" alt="">
                                <div class="card-body">
                                    <ul class="blog-icons my-4">
                                        <li>
                                                <i class="far fa-calendar-alt"></i>  @(@item.CreatedDate == default(DateTime) ? "--/--/--" : ((DateTime)@item.CreatedDate).ToString("dd/MMM/yyyy"))
                                        </li>
                                        <li class="mx-2">
                                            <i class="far fa-comment"></i> @(item.Tags?.Count() == 0 ? "" : @item.Tags?.FirstOrDefault())
                                        </li>
                                        @* <li>
                                            <a href="#">
                                                <i class="fas fa-eye"></i> @item.BlogThumbnailImage
                                            </a>
                                        </li> *@
                                    </ul>
                                    <h5 class="card-title">
                                        <a href="#">@item.Title</a>
                                    </h5>
                                    <p class="card-text mb-3">
                                        @item.Content?.Substring(0, 130)...
                                    </p>
                                    <a asp-action="Detail" asp-controller="Blog" asp-route-id="@item.Id" class="" style="color: blue; text-decoration: underline;">Read More</a>
                                </div>
                            </div>
                        </a>

                    }
                    <!--//left-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--//main-->

<script>
   $(".events").on("click", ".page-link", function (event) {
        var page = $($(event)[0].target).attr("page-number");

        Pagination(page);

    });

    function Pagination(page, name, urls) {

        var ids = $(".nav-link.active").attr("href");

        var obj = {
            PageNumber: page,
            PageSize: 9
        }

        // $.ajax({
        //     type: "post",
        //     url: urls,
        //     data: { filter: obj, id: Model.Id },
        //     success: function (data) {
        //         $(ids).html(data);
        //         RefreshOwlCarousel();
        //     }
        // });
    }
</script>
