@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Userlayout.cshtml";
}
@using DataAccessLayer.dto
@using EntityLayer.Concrete

@model PaginatedList<Blog>

<section class="container-fluid row mb-5">
    <div class="col-md-8" style="padding: 0 0 0 200px;">
        <div class="inner-sec">
            <!-- Blog list -->
            @foreach (var item in Model)
            {
                <div class="row my-4">
                    <!-- Blog Image -->
                    <div class="col-md-4" style="padding: 0;">
                        <a asp-action="Detail" asp-controller="Blog" asp-route-id="@item.Id">
                            <img src="@item.BlogImage" class="card-img-top img-fluid" alt="" style="">
                        </a>
                    </div>

                    <!-- Blog Details -->
                    <div class="col-md-8" style="padding-left: 1rem;">
                        <div class="card-body">
                            <ul class="list-inline blog-icons">
                                <!-- Created Date -->
                                <li class="list-inline-item">
                                    <a asp-action="Detail" asp-controller="Blog" asp-route-id="@item.Id">
                                        <i class="far fa-calendar-alt"></i>
                                        @(item.CreatedDate == default(DateTime) ? "--/--" : item.CreatedDate.ToString("MMMM yyyy"))
                                    </a>
                                </li>

                                <!-- Tags (Up to 3) -->
                                <li class="list-inline-item">
                                    <a asp-action="Detail" asp-controller="Blog" asp-route-id="@item.Id">
                                        <i class="far fa-tags"></i>
                                        @if (item.Tags?.Any() ?? false)
                                        {
                                            @foreach (var tag in item.Tags.Take(3))
                                            {
                                                <span class="badge badge-secondary">@tag.Name</span>
                                            }
                                        }
                                        else
                                        {
                                            <span>No Tags</span>
                                        }
                                    </a>
                                </li>
                            </ul>

                            <!-- Blog Title -->
                            <h5 class="card-title mt-3">
                                <a asp-action="Detail" asp-controller="Blog" asp-route-id="@item.Id">@item.Title</a>
                            </h5>

                            <!-- Blog Content -->
                            <p class="card-text mb-3">
                                @item.Content.Length > 130 ? @item.Content.Substring(0, 130) + "..." : @item.Content
                            </p>

                            <!-- Read More Button -->
                            @* <a asp-action="Detail" asp-controller="Blog" asp-route-id="@item.Id" class="btn btn-primary">Read More</a> *@
                        </div>
                    </div>
                </div>
            }

            <!-- Pagination -->
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    @if (Model.HasPreviousPage)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)" tabindex="-1">Previous</a>
                        </li>
                    }

                    @for (var i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                            <a class="page-link" asp-action="Index" asp-route-pageNumber="@i">@i</a>
                        </li>
                    }

                    @if (Model.HasNextPage)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)">Next</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
    <div class="col-md-4">
        @await Html.PartialAsync("~/Views/Home/HomeRightPanel.cshtml")
    </div>
</section>
<style>
    p {
        text-align: justify;
        line-height: 1.8em;
        letter-spacing: 0px;
        font-weight: 400;
    }

    img {
        width: 100%;
        height: 250px;
    }

    .blog-icons {
        padding: 0;
        margin: 0;
    }
</style>